name: Scrape and Tweet Top Videos on Youtube

on:
  schedule:
    - cron: '*/3 * * * *'
  workflow_dispatch:

jobs:
  Scrape-and-Tweet:
    runs-on: macos-latest
    env:
      MONGO_CONNECTION_STRING: ${{ secrets.MONGO_CONNECTION_STRING }}
      MONGO_COLLECTION_NAME: ${{ secrets.MONGO_COLLECTION_NAME }}
      MONGO_DB_NAME: ${{ secrets.MONGO_DB_NAME }} 
      TWITTER_APP_NAME: ${{ secrets.TWITTER_APP_NAME }}
      TWITTER_CONSUMER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
      TWITTER_CONSUMER_API_SECRET: ${{ secrets.API_KEY_SECRET }}
      TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
      TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master
      - name: Install rvest package
        run: Rscript -e 'install.packages("rvest", dependencies = TRUE)'
      - name: Install mongolite package
        run: Rscript -e 'install.packages("mongolite", dependencies = TRUE)'
      - name: Install rtweet package
        run: Rscript -e 'install.packages("rtweet", dependencies = TRUE)'
      - name: Install dplyr package
        run: Rscript -e 'install.packages("dplyr", dependencies = TRUE)'
      - name: Scrape youtube chart and insert into mongo
        run: Rscript scrape.R
      - name: Tweet top videos on youtube
        run: Rscript tweet.R
